body,div,img,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,li,ol,form,input,textarea,th,td{padding:0;margin:0;}
ul,li{list-style:none;}
img{display:block;border:0 none;}
a{text-decoration:none;}
.fl{float:left;}
.fr{float:right;}
.clear:after{
    display:block;
    height:0;
    content: "";
    clear:both;
    overflow: hidden;
    visibility: hidden;
    zoom: 1;
}

.header{
    height:38px;width:100%;border-bottom:1px solid #ccc;font-size:14px;
    .container{
        width:1200px;margin:0 auto;
        >ul{
            float:right;height:38px;
            >li{
                float:left;position:relative;height:38px;
                img{display:inline-block;}
                a{
                    line-height:38px;color:#777;
                    span{padding:0 6px;border-left:1px solid #d5d5d5;}
                }
                >ul{
                    position:absolute;top:33px;left:-1px;display:none;
                    border:1px solid #ccc;border-top:0 none;
                    width:86px;text-align:center;background:#fff;
                    li a{height:30px;line-height:30px;width:70px;line-height:30px;}
                }
            }
            .h_xl:hover{
                // background:red;
                border:1px solid #ccc;border-top:0 none;
                a span{border:0 none;padding-left:8px;}
                ul{
                    display:block;
                    li:hover{background:#ccc;}
                } 
            }
        } 
    }
}
.search{
    height:108px;
    .container{
        width:1200px;margin:0 auto;
        .sl{width:240px;height:68px;margin:22px 80px auto 0;}
        .sm{
            width:520px;margin-top:24px;margin-left:68px;font-size:12px;
            .sm_top{
                span{float:left;height:32px;width:62px;line-height:32px;text-align:center;border:2px solid #F15C18;border-right:1px solid #CECECE;}
                input{float:left;width:352px;height:32px;border:2px solid #F15C18;border-left:0 none;padding-left:10px;}
                button{float:left;width:90px;height:36px;background-color:#F15C18;border:0 none;}
            }
            .sm_b{
                margin-top:10px;
                a{
                    color:#999999;
                    span{padding:0 5px;border-right:1px solid #999999;}
                }
                a:last-of-type span{border:0 none;}  
            }
        }
        .sr{
            a{color:#333;}
            span{display:inline-block;width:114px;height:36px;border:1px solid #F0F0F0;line-height:36px;text-align:center;margin-top:24px;font-size:14px;margin-left:20px;}
        }

    }
}

.nav{
    height:40px;width:100%;border-bottom:1px solid #F15C18;font-size:14px;
    .container{
        width:1200px;margin:0 auto;
        h4{
            height:40px;width:162px;background:#F15C18;color:#fff;line-height:40px;position:relative;
            a{
                color:#fff;
                span{
                    display:block;width:162px;text-align:center;font-weight:bold;
                }
            }
            ul{
                position:absolute;top:40px;left:0;text-align:center;background:#343A3A;font-size:12px;width:162px;z-index:1000;display:none;
                li{
                    height:46px;border-bottom:1px dashed #494F4F;padding:0 10px;position: relative;
                    a{color:#fff;}
                    span{color:#5E6658;padding:0 3px;}
                    .nav_ej{
                        width:800px;height:300px;border:1px solid #000;border-left:0 none;position:absolute;left:162px;top:0;display:none;
                    }
                }
                li:hover{
                    background:#fff;
                    a{color:#000;}
                    span{color:#000;}
                    .nav_ej{display:block;}
                }
                li:first-of-type{margin-top:10px;}
                li:nth-of-type(2){
                    .nav_ej{top:-40px;}
                }
                li:nth-of-type(3){
                    .nav_ej{top:-80px;}
                }
                li:nth-of-type(4){
                    .nav_ej{top:-120px;}
                }
                li:nth-of-type(5){
                    .nav_ej{top:-160px;}
                }
                
                li:last-of-type{margin-bottom:10px;}
            }
            
        }
        h4:hover ul{display:block;}
            
        >ul{
            height:36px;line-height:36px;
            li{
                float:left;height:36x;
                a{
                    color:#333333;
                    span{padding:0 20px;}
                }
                a:hover{color:#FF6D02;}
            }
            li:first-of-type a{color:#FF6D02;}      
        }

    }
}

.pic{
    height:86px;border:1px solid #ddd;background:#fff;border-right:0 none;
    .container{
        width:1210px;margin:0 auto;
        ul{
            padding:0 105px;
            li{float:left;}
        }        
    }
}

.faq{
    background:#fff;
    .container{
        width:1210px;margin:0 auto;
        .notice{
            height:134px;width:300px;margin: 20px 0 25px 4%;border-right:1px solid #ccc;
            h3{color: #666;padding: 5px 5px 5px 5px;margin: 0px 0 5px;font-size:16px;}
            ul{
                font-size:12px;text-overflow:ellipsis;
                li{width:250px;height:24px;line-height:24px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
                a{color:#999999;}
            }
        }
        .link{
            font-family:"宋体";padding:20px 0%;margin-left:50px;font-size:12px;
            ul{
                li{
                    float:left;width:162px;height:136px;
                    dl{
                        dt{font-size:16px;color:#666;padding:5px;margin:5px 0;}
                        dd{
                            padding:4px 5px;
                            a{color:#999;}
                        }
                    }
                }
            }
        }
    }
}

.footer{
    height:210px;background-color:#343A3A;font-size:12px;color:#fff;
    .container{
        padding:40px 0 0 0;
        p{
            text-align:center;padding-bottom:20px;
            a{
                padding:0 13px;border-right:1px solid #fff;color:#fff;
            }
            a:last-of-type{border:0 none;}
            a:hover{text-decoration:underline;}
        }
        p:nth-of-type(2) span{padding:0 13px;}
        p:nth-of-type(2) span:hover{text-decoration:underline;}
        p:nth-of-type(2) span:first-of-type:hover{text-decoration:none;}
        p:nth-of-type(3) span{padding:0 30px;}
        div{
            text-align:center;
            img{display:inline-block;width:108px;border:1px solid #F9821E;margin-right:20px;}
        }
    }   
}