// .header{
//     height:38px;width:100%;border-bottom:1px solid #ccc;font-size:14px;
//     .container{
//         width:1200px;margin:0 auto;
//         >ul{
//             float:right;height:38px;
//             >li{
//                 float:left;position:relative;height:38px;
//                 img{display:inline-block;}
//                 a{
//                     line-height:38px;color:#777;
//                     span{padding:0 6px;border-left:1px solid #d5d5d5;}
//                 }
//                 >ul{
//                     position:absolute;top:33px;left:-1px;display:none;
//                     border:1px solid #ccc;border-top:0 none;
//                     width:86px;text-align:center;background:#fff;
//                     li a{height:30px;line-height:30px;width:70px;line-height:30px;}
//                 }
//             }
//             .h_xl:hover{
//                 // background:red;
//                 border:1px solid #ccc;border-top:0 none;
//                 a span{border:0 none;padding-left:8px;}
//                 ul{
//                     display:block;
//                     li:hover{background:#ccc;}
//                 } 
//             }
//         } 
//     }
// }
// .search{
//     height:108px;
//     .container{
//         width:1200px;margin:0 auto;
//         .sl{width:240px;height:68px;margin:22px 80px auto 0;}
//         .sm{
//             width:520px;margin-top:24px;margin-left:68px;font-size:12px;
//             .sm_top{
//                 span{float:left;height:32px;width:62px;line-height:32px;text-align:center;border:2px solid #F15C18;border-right:1px solid #CECECE;}
//                 input{float:left;width:352px;height:32px;border:2px solid #F15C18;border-left:0 none;padding-left:10px;}
//                 button{float:left;width:90px;height:36px;background-color:#F15C18;border:0 none;}
//             }
//             .sm_b{
//                 margin-top:10px;
//                 a{
//                     color:#999999;
//                     span{padding:0 5px;border-right:1px solid #999999;}
//                 }
//                 a:last-of-type span{border:0 none;}  
//             }
//         }
//         .sr span{display:inline-block;width:114px;height:36px;border:1px solid #F0F0F0;line-height:36px;text-align:center;margin-top:24px;font-size:14px;margin-left:20px;}
//     }
// }

// .nav{
//     height:40px;width:100%;border-bottom:1px solid #F15C18;font-size:14px;
//     .container{
//         width:1200px;margin:0 auto;
//         h4{
//             height:40px;width:162px;background:#F15C18;color:#fff;line-height:40px;position:relative;
//             a{
//                 color:#fff;
//                 span{
//                     display:block;width:162px;text-align:center;font-weight:bold;
//                 }
//             }
//             ul{
//                 position:absolute;top:40px;left:0;text-align:center;background:#343A3A;font-size:12px;width:162px;
//                 li{
//                     height:46px;border-bottom:1px dashed #494F4F;padding:0 10px;position: relative;
//                     a{color:#fff;}
//                     span{color:#5E6658;padding:0 3px;}
//                     .nav_ej{
//                         width:800px;height:300px;border:1px solid #000;border-left:0 none;position:absolute;left:162px;top:0;display:none;
//                     }
//                 }
//                 li:hover{
//                     background:#fff;
//                     a{color:#000;}
//                     span{color:#000;}
//                     .nav_ej{display:block;}
//                 }
//                 li:first-of-type{margin-top:10px;}
//                 li:nth-of-type(2){
//                     .nav_ej{top:-40px;}
//                 }
//                 li:nth-of-type(3){
//                     .nav_ej{top:-80px;}
//                 }
//                 li:nth-of-type(4){
//                     .nav_ej{top:-120px;}
//                 }
//                 li:nth-of-type(5){
//                     .nav_ej{top:-160px;}
//                 }
                
//                 li:last-of-type{margin-bottom:10px;}
//             }
//         }
//         // h4:hover ul{display:block;}
            
//         >ul{
//             height:36px;line-height:36px;
//             li{
//                 float:left;height:36x;
//                 a{
//                     color:#333333;
//                     span{padding:0 20px;}
//                 }
//                 a:hover{color:#FF6D02;}
//             }
//             li:first-of-type a{color:#FF6D02;}      
//         }

//     }
// }

.nav .container h4 ul{display:block;}

.tv{
    height:78px;width:1210px;margin:0 auto;padding-left:200px;box-sizing:border-box;
    >img{float:left;padding:5px;}
}

.ban{
    background:#E0CCB1;padding-left:182px;
    .ban_l{
        width:784px;height:400px;
    }
    .ban_r{
        width:260px;height:400px;padding:0 34px;box-sizing:border-box;
        p{text-align:center;}
        p:nth-of-type(1){font-size:18px;height:60px;line-height:60px;font-weight:bold;}
        p:nth-of-type(2){font-size:12px;padding-top:5px;padding-bottom:10px;font-weight:bold;}
        p:nth-of-type(3){font-size:12px;}
    } 
}

.other{background:#f2f2f2;}
.container{
    width:1210px;margin:0 auto;
    .tuijian{
        height:150px;padding:25px 0;padding-left:10px;
        ul{
            margin-left:-1px;
            a li{
                width:300px;overflow:hidden;background:#fff;float:left;
                .li_l{
                    width:100px;
                    padding:0 14px;margin-top:15px;
                    height:120px;border-left:1px solid #ccc;
                    h3{font-size:16px;padding-top:10px;}
                    h5{font-size:12px;}
                }   
            }
            a:first-of-type .li_l{border:0 none;}
            a li:hover{
                .li_l{
                    width:110px;
                    h3{padding-top:40px;}
                }
            }
            
        }
    }
    .brand{
        h3{font-size:30px;margin:20px 0;text-align:center;}
        >.clear{
            margin-bottom:20px;
            >div{
                width:580px;
                >div{
                    height:70px;background:#fff;
                    img{display:inline-block;border-right:1px solid #ccc;margin-top:10px;padding-right:30px;}
                    >.fr{
                        padding-right:20px;
                        div:first-child{margin-top:10px;}
                        p{padding-top:10px;}

                    }
                }
            }
            >div:hover{opacity:0.5;}
        }
    }
    .F1,.F2,.F3,.F4,.F5{
        // height:510px;
        .mt{
            display:block;height:35px;border-bottom:2px solid #FE5621;position:relative;
            .fl{
                i{font-size:24px;color:#FEAA90;line-height:34px;}
                h4{display:inline-block;height:34px;line-height:34px;font-size:24px;font-weight:normal;}
            }
            header{
                position:absolute;right:0;top:-1px;height:34px;line-height:34px;z-index:1;background:#fff;
                span{display:inline-block;height:34px;line-height:34px;padding:0 8px;}
                .active{
                    border-left:1px solid #FE5621;border-right:1px solid #FE5621;border-top:3px solid #FE5621;height:33px;line-height:30px;border-bottom:0 none;border-bottom:2px solid #fff;}
            }

            // header{
            //     background:#fff;border:1px solid #fff;border-bottom:0 none;z-index:1;height:34px;line-height:34px;
            //     span{display:inline-block;height:34px;line-height:34px;padding:0 8px;margin:0 1px;}
            //     .active{
            //         border-left:1px solid #FE5621;border-right:1px solid #FE5621;border-top:3px solid #FE5621;
            //         height:33px;line-height:30px;text-indent:1px;border-bottom:0 none;}
            // }
        }
        .mc{
            .side{
                position:relative;width:210px;
                .side_c{
                    position:absolute;left:0;top:230px;padding-left:10px;height:84px;background:#FCE8CA;
                    ul{
                        li{
                            float:left;width:100px;position:relative;padding-top:10px;
                            a{color:#555;}
                            img{display:inline-block;}
                            span{display:inline-block;position:absolute;left:35px;top:13px;font-size:12px;}
                        }
                    }
                }
                .side_b{
                    background:#FDEFDC;width:100%;height:160px;position:absolute;left:0;top:314px;
                    padding:25px 15px 25px 25px;box-sizing:border-box;
                    a{
                        color:#777;
                        span{font-size:12px;margin-right:8.5px;}
                    }
                }
            }
            .content{
                // height:474px;
                .con_l{
                    width:219px;
                    height:474px;
                }
                .con_ban{
                    width:340px;
                }
                .con_r{
                    width:219px;
                }

            }
        }
        .floor1{
            height:64px;background:#fff;border:1px solid #eee;padding:15px 0;box-sizing:border-box;margin-bottom:20px;
            ul{
                li{
                    float:left;display:block;width:118px;height:33px;border-right:1px solid #ccc;padding:0 10px;box-sizing:border-box;
                    img{width:99px;height:33px;}
                }
                li:last-of-type{border:0 none;}
            } 
        }
    }
    .F2{
        .mc{
            .side{
                .side_c{background:#D1EFFB;}
                .side_b{background:#E1F5FC;}
            }
        }    
    }

    .huiyuan{
        height:346px;border:1px solid #F15E1B;border-top:3px solid #F15E1B;margin-bottom:20px;
        .vip_t{
            height:49px;line-height:49px;border-bottom:1px solid #ddd;
            div{
                margin-left:20px;font-size:20px;color:#F15C18;
                i{font-size:20px;color:#F15C18;}
            }
            >ul{
                >li{
                    float:left;width:95px;margin-right:40px;
                    a{color:#F15C18;}
                    i{font-size:20px;color:#F15C18;}
                }
            }
        }
        .vip_b{
            padding:0 22px;background:#fff;
            ul{
                li{
                    float:left;height:270px;width:206px;border-right:1px solid #ddd;padding:13px;
                    img{width:206px;height:206px;}
                    p{font-size:12px;padding-top:20px;text-align:center;}
                }
                li:last-of-type{border:0 none;}
            }
        }
    }
} 


