.header {
  height: 86px;
  padding: 0 100px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.header a img {
  float: left;
  padding-top: 15px;
}

.header .header_r {
  padding-top: 40px;
  font-size: 14px;
  color: #AAAAAA;
}

.header .header_r img {
  float: left;
  width: 40px;
  border-radius: 50%;
}

.header .header_r p a:hover {
  color: #e85D22;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.container .main {
  height: 560px;
}

.container .main .fl img {
  padding-top: 50px;
}

.container .main .fr {
  width: 400px;
  height: 404px;
  padding: 19px 19px 29px 29px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 20px;
}

.container .main .fr .tab {
  color: #aaa;
}

.container .main .fr .tab ul li {
  float: left;
  width: 200px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  padding-bottom: 13px;
  font-size: 18px;
}

.container .main .fr .tab ul li.active {
  border-bottom: 3px solid red;
  color: red;
}

.container .main .fr .tab .c1 {
  padding: 20px 40px 0 40px;
  overflow: visible;
}

.container .main .fr .tab .c1 #error {
  display: block;
  position: absolute;
  right: 90px;
  top: 290px;
  width: 100px;
  height: 52px;
  line-height: 52px;
  font-size: 12px;
  color: red;
  z-index: 9999;
}

.container .main .fr .tab .c1 input {
  outline: none;
}

.container .main .fr .tab .c1 div {
  overflow: hidden;
}

.container .main .fr .tab .c1 div span {
  float: left;
  display: inline-block;
  width: 108px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  border: 1px solid #ccc;
  border-right: 0 none;
  border-bottom: 0 none;
  font-size: 14px;
}

.container .main .fr .tab .c1 div input {
  float: left;
  width: 210px;
  height: 52px;
  border: 1px solid #ccc;
  border-left: 0 none;
  border-bottom: 0 none;
}

.container .main .fr .tab .c1 .code {
  position: relative;
}

.container .main .fr .tab .c1 .code span {
  border-bottom: 1px solid #ccc;
}

.container .main .fr .tab .c1 .code input {
  width: 100px;
  border-bottom: 1px solid #ccc;
  border-right: 0 none;
}

.container .main .fr .tab .c1 .code .vcode {
  display: float;
  width: 109px;
  height: 52px;
  line-height: 52px;
  border-right: 1px solid #ccc;
  background: rgba(0, 0, 0, 0.1);
  color: #000;
  font-size: 24px;
}

.container .main .fr .tab .c1 .zddl {
  height: 52px;
  line-height: 52px;
  font-size: 12px;
  position: relative;
}

.container .main .fr .tab .c1 .zddl input {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.container .main .fr .tab .c1 .zddl span {
  display: inline-block;
}

.container .main .fr .tab .c1 .zddl .forget {
  position: absolute;
  right: 0;
}

.container .main .fr .tab .c1 button {
  width: 320px;
  height: 42px;
  background-color: #FF500B;
  color: #fff;
  font-weight: bold;
  border: 0 none;
  border-radius: 5px;
}

.container .main .fr .tab .c1 .lastDiv {
  padding-top: 15px;
  padding-left: 10px;
}

.container .main .fr .tab .c1 .lastDiv p {
  font-size: 12px;
  height: 32px;
  line-height: 32px;
}

.container .main .fr .tab .c1 .lastDiv p:nth-of-type(1) {
  color: #000;
  font-weight: bold;
}

.container .main .fr .tab .c1 .lastDiv p:nth-of-type(2) {
  color: #aaa;
}

.container .main .fr .tab .c1 .lastDiv p:nth-of-type(2) i {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.container .main .fr .tab .c1 .lastDiv p:nth-of-type(2):hover {
  color: #4EA335;
}

.container .main .fr .tab .c1 .lastDiv p:nth-of-type(2):hover i {
  border: 1px solid #4EA335;
}

.container .main .fr .tab .c2 {
  padding: 20px 40px 0 40px;
}

.container .main .fr .tab .c2 div {
  border: 1px solid #ccc;
  height: 52px;
  line-height: 52px;
  font-size: 14px;
}

.container .main .fr .tab .c2 div span {
  padding: 0 20px;
}

.container .main .fr .tab .c2 div input {
  border: 0 none;
}

.container .main .fr .tab .c2 div:nth-of-type(1) input {
  width: 200px;
}

.container .main .fr .tab .c2 div:nth-of-type(2) {
  width: 220px;
  border-top: none;
}

.container .main .fr .tab .c2 div:nth-of-type(2) input {
  width: 100px;
}

.container .main .fr .tab .c2 p:nth-of-type(1) {
  font-size: 12px;
  padding: 10px 0;
}

.container .main .fr .tab .c2 p:nth-of-type(1) span {
  background-color: #21b384;
  display: inline-block;
  height: 20px;
  line-height: 20px;
}

.container .main .fr .tab .c2 button {
  width: 320px;
  height: 42px;
  background-color: #FF500B;
  color: #fff;
  font-weight: bold;
  border: 0 none;
  border-radius: 5px;
  margin-top: 10px;
}

.container .main .fr .tab .c2 p:nth-of-type(2), .container .main .fr .tab .c2 p:nth-of-type(3) {
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  padding-top: 15px;
  padding-left: 8px;
  font-weight: bold;
}

.container .main .fr .tab .c2 p:last-of-type {
  font-weight: normal;
  padding: 0 0 0 40px;
}
