.header {
  height: 86px;
  padding: 0 100px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.header img {
  float: left;
  padding-top: 15px;
}

.header p {
  padding-top: 55px;
}

.header p a:hover {
  color: #E85D22;
}

.container {
  width: 890px;
  margin: 0 auto;
  padding: 60px;
  padding-bottom: 40px;
}

.main {
  border: 10px solid #D1D1D1;
  box-sizing: border-box;
  background-color: #FAFAFA;
  color: #aaa;
}

.main .main_l {
  width: 620px;
}

.main .main_l p {
  height: 58px;
  margin: 0 15px;
  padding-left: 108px;
  color: #A59999;
  line-height: 58px;
  border-bottom: 1px solid #E6E6E6;
  font-size: 20px;
}

.main .main_l div {
  margin-left: 120px;
  border: 1px solid #ccc;
  height: 52px;
  line-height: 52px;
}

.main .main_l div span {
  padding: 0 20px;
  color: #666;
}

.main .main_l div:first-of-type {
  width: 400px;
  margin-top: 50px;
}

.main .main_l div:first-of-type input {
  border: 0 none;
  height: 50px;
}

.main .main_l div:nth-of-type(2) {
  width: 278px;
  border-top: 0 none;
}

.main .main_l div:nth-of-type(2) input {
  border: 0 none;
  height: 50px;
}

.main .main_l div:nth-of-type(3) {
  border: 0 none;
}

.main .main_l div:nth-of-type(3) span {
  padding: 0 10px;
  font-size: 14px;
}

.main .main_l button {
  margin-left: 120px;
  width: 400px;
  height: 52px;
  border: 0 none;
  border-radius: 5px;
  background-color: #FF500B;
  color: #fff;
  font-weight: bold;
}

.main .main_r {
  width: 240px;
  height: 500px;
  margin: 20px 0;
  border-left: 1px solid #E6E6E6;
  box-sizing: border-box;
}

.main .main_r p {
  padding-left: 20px;
  height: 20px;
  padding-top: 20px;
  line-height: 20px;
  color: #333;
}

.main .main_r ul {
  padding-left: 60px;
  padding-top: 20px;
  font-size: 14px;
}

.main .main_r ul li {
  height: 38px;
}
