.header {
  height: 86px;
  padding: 0 100px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
}

.header img {
  float: left;
  padding-top: 15px;
}

.header p {
  padding-top: 55px;
}

.container {
  padding: 60px;
  padding-bottom: 40px;
}

.main {
  border: 10px solid #D1D1D1;
  box-sizing: border-box;
  background-color: #FAFAFA;
}

.main .main_l {
  width: 620px;
}

.main .main_l p {
  height: 58px;
  margin: 0 15px;
  padding-left: 108px;
  color: #A59999;
  line-height: 58px;
  border-bottom: 1px solid #E6E6E6;
  font-size: 20px;
}

.main .main_l div {
  margin-left: 120px;
  display: block;
  border: 1px solid #ccc;
  height: 52px;
  line-height: 52px;
}

.main .main_l div span {
  padding: 0 20px;
}

.main .main_l div:first-of-type {
  width: 400px;
  margin-top: 50px;
}

.main .main_l div:first-of-type input {
  border: 0 none;
  height: 50px;
}

.main .main_l div:nth-of-type(2) {
  width: 278px;
  border-top: 0 none;
}

.main .main_l div:nth-of-type(2) input {
  border: 0 none;
  height: 50px;
}

.main .main_l div:nth-of-type(3) {
  border: 0 none;
}

.main .main_l div:nth-of-type(3) span {
  padding: 0 10px;
  font-size: 14px;
}

.main .main_l button {
  margin-left: 120px;
  width: 400px;
  height: 52px;
  border: 0 none;
  border-radius: 5px;
  background-color: #FF500B;
  color: #fff;
  font-weight: bold;
}

.main .main_r {
  width: 240px;
  height: 500px;
  margin: 20px 0;
  border-left: 1px solid #E6E6E6;
  box-sizing: border-box;
}

.main .main_r p {
  padding-left: 20px;
  height: 20px;
  padding-top: 20px;
  line-height: 20px;
}

.main .main_r ul {
  padding-left: 60px;
  padding-top: 20px;
  font-size: 14px;
}

.main .main_r ul li {
  height: 38px;
}

.footer {
  height: 210px;
  background-color: #343A3A;
  font-size: 12px;
  color: #fff;
}

.footer .container {
  padding: 40px 0 0 0;
}

.footer .container p {
  text-align: center;
  padding-bottom: 20px;
}

.footer .container p a {
  padding: 0 13px;
  border-right: 1px solid #fff;
  color: #fff;
}

.footer .container p a:last-of-type {
  border: 0 none;
}

.footer .container p:nth-of-type(2) span {
  padding: 0 13px;
}

.footer .container p:nth-of-type(3) span {
  padding: 0 30px;
}

.footer .container div {
  text-align: center;
}

.footer .container div img {
  display: inline-block;
  width: 108px;
  border: 1px solid #F9821E;
  margin-right: 20px;
}
